<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dereknordgren.biketohtml</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/derek.nordgren/bin/bike_to_html.sh</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/com.dereknordgren.biketohtml.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.dereknordgren.biketohtml.err</string>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
